**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('movies.csv')
raitings = pd.read_csv('ratings.csv')
merged = pd.merge(raitings,movies, on='movieId', how='left')
filtred_merg=merged.query('rating == 5')
rait=filtred_merg['title'].value_counts(normalize=True).head()*100.
rait.head(1)

Shawshank Redemption, The (1994)    1.094901
Name: title, dtype: float64

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [29]:
power=pd.read_csv('power.csv')
#power.head()
#power[power['country'].str.contains('Est', case=False)]['country'].unique()

pow_filtr=power[((power['country']=='Latvia')|(power['country']=='Lithuania')|(power['country']=='Estonia'))\
                &((power['category']==4)|(power['category']==12)|(power['category']==21))\
               &(power['quantity']>0)&((power['year']>2005)|(power['year']<2010))]
#pow_filtr.head(5)
power_sum=pow_filtr['quantity'].sum()
power_sum

970728.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [36]:
pd.read_html('https://fortrader.org/quotes')[4]

,Type,Last,Chg.,Chg.%,Time
0,EURUSD Курс евро к доллару,1.10903,0.00000,0.00000,NaN
1,AUDUSD Курс австралийского доллара к доллару сша,0.66942,0.00092,0.13762,NaN
2,AUDCAD Australian Dollar / Canadian Dollar,0.88583,0.00163,0.18435,NaN
3,EURCHF Euro / Swiss Franc,1.06810,-0.00047,-0.04398,NaN
4,EURGBP Euro / Great Britain Pound,0.83991,0.00007,0.00833,NaN
5,EURJPY Euro / Japanese Yen,120.17900,-0.02300,-0.01900,NaN
6,GBPJPY Great Britain Pound / Japanese Yen,143.06600,-0.00800,-0.00600,NaN
7,GBPUSD Курс фунта к доллару,1.32027,-0.00028,-0.02120,NaN
8,USDCAD Курс канадского доллара к доллару сша,1.32327,0.00060,0.04536,NaN
9,NZDUSD New Zealand Dollar / US Dollar,0.64640,0.00017,0.02631,NaN
10,USDCHF US Dollar / Swiss Franc,0.96317,-0.00002,-0.00208,NaN
11,USDCNH Курс китайского юаня к доллару США,6.99743,-0.06856,-0.97028,NaN
12,USDJPY Курс йены к доллару,108.36400,0.02000,0.01800,NaN